.label {
    -fx-text-fill: blue;
}

.topbar {
    -fx-background-color: rgb(12, 76, 148);

    -fx-border-style: solid inside;
    -fx-border-width: 2;
}

.anchorpane {
    -fx-background-color: rgb(71, 73, 71);
}

.title {
    -fx-font-family: 'System';
    -fx-font-size: 25;
}

.bodytext {
    -fx-font-family: 'System';
    -fx-font-size: 16;
}